<%= form_with(model: @friend, local: true) do |f| %>

  <%= f.hidden_field :user_id1, value: @user.id %>

  <div class="form-group">
    <%= f.label :user_id2 %>

    <%= f.text_field :user_id2, class: "form-control" %>
  </div>

  <%= f.submit "Create friend", class: "btn btn-block btn-outline-secondary" %>
<% end %>
