<%= form_with(model: @rsvp_status, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :rsvp_status %>

    <%= f.text_field :rsvp_status, class: "form-control" %>
  </div>

  <%= f.submit "Create rsvp status", class: "btn btn-block btn-outline-secondary" %>
<% end %>
